<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Home\Login.aspx" defaultUrl="Home\SearchHotel.aspx"></forms>
    </authentication>
    <authorization>
      <deny users ="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="home\errorpage.aspx"></customErrors>
  </system.web>
  <connectionStrings>
    <add name="HotelReservationSystemConnection" connectionString="Data Source = KRSAHAB; Initial Catalog = HotalReservationSystemDB; Integrated Security = True"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ErrorLogPath" value="C:\\Project Area\\HotelReservationSystem\\Utility\\Errorlog\\ErrorLog.txt"/>
  </appSettings>

</configuration>
